body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: Arial, sans-serif;
    /* background-color: #979ae8; */
    background: #93d5ed;
background: linear-gradient(90deg, rgba(147, 213, 237, 1) 0%, rgba(157, 207, 195, 1) 50%, rgba(136, 168, 242, 1) 100%);
    width:40rem;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 3rem;



}

.card{
    /* background-color: #f8f8fb; */
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    max-width: 400px;
    text-align: center;

    width:25rem;
    margin-bottom: 3rem;
   
}

#search-btn{
    background-color: #073371;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

#cityInput{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2rem;
   
    margin-bottom: 10px;
}

.col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;

    background-color: azure;
    padding: 0px 15px;
    border-radius: 8px;
    margin: 10px;
    /* opacity: 0.8; */
}

